annotated-types==0.8.0
anyio==4.14.2
ast-serialize==0.8.0
certifi==2026.7.22
coverage==7.15.4
execnet==2.1.2
h11==0.16.0
-e file:///home/pc/Documentos/GitHub/HBD
httpcore==1.0.9
httpx==0.28.1
idna==3.18
iniconfig==2.3.0
librt==0.15.0
mypy==2.3.0
mypy-extensions==1.1.0
numpy==2.5.1
packaging==26.3
pandas==3.0.5
pathspec==1.1.1
pluggy==1.6.0
pydantic==2.13.4
pydantic-core==2.46.4
pygments==2.20.0
pytest==9.1.1
pytest-cov==7.1.0
pytest-httpx==0.36.2
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
ruff==0.16.1
six==1.17.0
typing-extensions==4.16.0
typing-inspection==0.4.2
